@font-face {
  font-family: "duc";
  src: url("../assets/duc.otf");
}

.preview {
  pre {
    white-space: pre;
  }
  table {
    margin-bottom: 20px;

    th {
      font-family: Lato-Bold;
      font-size: 18px;
      color: #fff;
      line-height: 1.4;
      background-color: #6c7ae0;
    }

    tr:nth-child(even) {
      background-color: #f8f6ff;
    }

    tr:hover {
      background-color: #94a1fd;
    }

    width: 100%;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  img {
    width: 100%;
  }

  // list-style-position: inside;
  code {
    font-family: "duc" !important;
  }

  pre {
    border-radius: 5px !important;
    box-shadow: 0px 3px 15px #dbfbe3 !important;

    background-color: cornsilk;
  }

  blockquote {
    margin: 20px 0 !important;
    background-color: #f5f8fc;
    padding: 1rem;
    color: #8796a8;
    border-left: none;
    p {
      font-weight: normal !important;
    }
  }

  line-height: 2 !important;

  img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    box-shadow: rgba(255, 204, 0, 0.5) 0 0 11px;
  }

  font-size: 13px;

  ul {
    li {
      list-style-type: disc;
    }
  }
  li {
    list-style-position: inside;
    p {
      display: inline;
    }
  }
}
